@font-face {
	font-family: Apercu-Light;
  src: url('../fonts/Apercu-Light.otf');
}

@font-face {
  font-family: EyechartBold;
  src: url('../fonts/EyechartBold-Bold.otf')
}

body {
	font-family: Apercu-Light !important;
}

#main-container {
  height: 100vh;
  min-height: 450px;
  max-width: 576px;
  padding: 50px;
}

.row {
  height: 33.33%;
}

#top-row {
  padding-right: 0;
  img {
    width: 100%;
    border-right: 1px solid black;
  }
}

.underlined {
  text-decoration: underline;
}

input {
  font-size: 13px;
  letter-spacing: 2px;
  min-width: 220px;
}

#bottom-row {
  font-family: EyechartBold;
}